.package-list .package .package-controls button.edit-world {
    width: 125px;
}
.package-list .package .package-controls button[data-action="launchWorld"] {
    width: 125px;
}
#install-package .package-list .package-controls button {
    padding: 1px;
}

.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.character .character-details {
    grid: "img alignment deity" 46px
          "img details details" auto/105px 195px 1fr;
}